<%- model_class = Question -%>
  <div class="page-header">
    <h1><%="質問" %></h1>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= "タイトル" %></th>
        <th><%= "タグ1" %></th>
        <th><%= "タグ2" %></th>
        <th><%= "タグ3" %></th>
        <th><%= "選択" %></th>
      </tr>
    </thead>
    <tbody>
      <% @question.each do |question| %>
        <tr>
          <td><%=link_to question.title.truncate(13),question_path(question)%></td>
          <td><%= question.tag1.truncate(13) %></td>
          <td><%= question.tag2.truncate(13) %></td>
          <td><%= question.tag3.truncate(13) %></td>
          <td>
            <%= link_to t('.show', :default => t("helpers.links.show")), question_path(question), :class => 'btn btn-default btn-xs' %>
            <% if question.email === current_user.email || current_user.user_type ==='admin' %>
              <%= link_to t('.edit', :default => t("helpers.links.edit")), edit_question_path(question), :class => 'btn btn-default btn-xs' %>
              <%= link_to t('.destroy', :default => t("helpers.links.destroy")), question_path(question), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs
              btn-danger' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to t('.質問作成', :default => t("helpers.links.new")), new_question_path, :class => 'btn btn-primary' %>
