<%= render "shared/errors", obj: @maps %>

<!-- <table class="attr">
  <tr>
    <th><%= form.label :map_name, "位置名" %></th>
    <td><%= form.text_field :map_name, size: 15 %></td>
  </tr>
  <tr>
    <th>緯度経度</th>
    <td>
      <%= form.label :map_lat, "緯度" %>
      <%= form.text_field :map_lat, size: 20 %>
      <%= form.label :map_lng, "経度" %>
      <%= form.text_field :map_lng, size: 20 %>
    </td>
  </tr>
  <tr>
    <th><%= form.label :map_text, "概要" %></th>
    <td><%= form.text_area :map_text, cols: 40, rows: 5 %></td>
  </tr>
</table> -->
<%= form_for(map) do |f| %>
  <% if map.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(map.errors.count, "error") %> prohibited this map from being saved:</h2>

      <ul>
      <% map.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :address %>
    <%= f.text_field :address %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
