<%= render "shared/errors", obj: @map %>
<style type="text/css">
#map {
  height: 800px;
  margin-left: auto;
  /* 左側マージンを自動的に空ける */
  margin-right: auto;
  /* 右側マージンを自動的に空ける */
  text-align: left;
  /* 中身を左側表示に戻す */
  width: 100%;
}
</style>

<table class="attr">
  <tr>
    <th><%= form.label :map_name, "地点名" %></th>
    <td><%= form.text_field :map_name, size: 15 %></td>
  </tr>
  <tr>
    <th>緯度経度</th>
    <td>
      <%= form.label :map_lat, "緯度" %>
      <%= form.text_field :map_lat, size: 20 id: "latitude" %>
      <%= form.label :map_lng, "経度" %>
      <%= form.text_field :map_lng, size: 20 id:"longitude"%>
    </td>
  </tr>
</table>

<div id="map">ここにマップを表示</div>
<script>
  function initMap() {

    // 初期位置
    var otaru = new google.maps.LatLng(43.197707, 140.993696);

    // マップ表示
    var map = new google.maps.Map(document.getElementById("map"), {
      center: otaru,
      zoom: 15,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });

    // ドラッグできるマーカーを表示
    var marker = new google.maps.Marker({
      position: otaru, title: "登録したい地点にマーカーをドラッグしてください", draggable: true, // ドラッグ可能にする
    });
    marker.setMap(map);

    // マーカーのドロップ（ドラッグ終了）時のイベント
    google.maps.event.addListener(marker, 'dragend', function (ev) {
      // イベントの引数evの、プロパティ.latLngが緯度経度。
      document.getElementById('latitude').value = ev.latLng.lat();
      document.getElementById("longitude").value = ev.latLng.lng();
    });
  }
  // ONLOADイベントにセット
  window.onload = initMap();
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBJfuH3GcpFYapsQGKpWvoiZJ2oqF8ud44&callback=initMap"></script>
