<h1>あそべ～るトップページ</h1>

<style type="text/css">
  #map {
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 80%;
  }
  /*スクロール用*/
  tbody.scrollBody,
  thead.scrollHead {
    display: block;
  }
  tbody.scrollBody {
    overflow-y: scroll;
    height: 100px;
  }
  /*幅調整*/
  td,
  th {
    table-layout: fixed;
  }
  .name {
    width: 80px;
  }
  .text {
    width: 80px;
  }
  .lat {
    width: 200px;
  }
  .lng {
    width: 200px;
  }
</style>
<table>
  <thead class="scrollHead">
    <tr>
      <!-- <th>ID</th> -->
      <th class="name">地点名</th>
      <th class="text">概要</th>
      <th class="lat">緯度</th>
      <th class="lng">経度</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody class="scrollBody">
    <% @maps.each do |map| %>
      <tr>
        <!-- <td><%= map.id %></td> -->
        <td class="name"><%= map.map_name %></td>
        <td class="text"><%= map.map_text %></td>
        <td class="lat"><%= map.map_lat %></td>
        <td class="lng"><%= map.map_lng %></td>
        <!-- <td><%= link_to 'Show', map %></td> <td><%= link_to 'Edit', edit_map_path(map) %></td> -->
        <td><%= link_to '削除', map, method: :delete, data: { confirm: '本当に削除しますか？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= search_form_for @keyword do |f| %>
<%= f.search_field :map_name_cont, :placeholder => "地点名で検索" %>
<%= f.submit '検索' %>
<% end %>
<%= link_to '地点登録', new_map_path, :class=>"btn btn-primary" %>

<div id="map"></div>
<script type="text/javascript">
handler = Gmaps.build('Google');
handler.buildMap({
  provider: {},
  internal: {
    id: 'map'
  }
}, function () {
  markers = handler.addMarkers(<%=raw @hash.to_json %>);
  handler.bounds.extendWith(markers);
  handler.getMap().setCenter(new google.maps.LatLng(43.197707, 140.993696));
  handler.fitMapToBounds();
});
</script>
</html>
