<% @page_title = "地点詳細" %>
<h2><%= @page_title %></h2>
<script type="text/javascript">
  function initMap() {

    var test = {
      lat: <%= @map.map_lat %>,
      lng: <%= @map.map_lng %>
    };
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 15,
      center: test
    });
    var transitLayer = new google.maps.TransitLayer();
    transitLayer.setMap(map);

    var contentString = '<%= @map.map_name %>';
    var infowindow = new google.maps.InfoWindow({content: contentString});

    var marker = new google.maps.Marker({position: test, map: map, title: contentString});

    marker.addListener('click', function () {
      infowindow.open(map, marker);
    });
  }
</script>
<script async="async" defer="defer" src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyBJfuH3GcpFYapsQGKpWvoiZJ2oqF8ud44&callback=initMap"></script>

<p id="notice"><%= notice %></p>

<p>
  <strong>地点名:</strong>
  <%= @map.map_name %>
</p>

<p>
  <strong>概要:</strong>
  <%= @map.map_text %>
</p>

<p>
  <strong>緯度:</strong>
  <%= @map.map_lat %>
</p>

<p>
  <strong>経度:</strong>
  <%= @map.map_lng %>
</p>

<style type="text/css">
  #map {
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 80%;
  }
</style>
<div id="map"></div>

<%= link_to 'Edit', edit_map_path(@map) :class=>"btn btn-primary" %> |
<%= link_to 'Back', maps_path :class=>"btn btn-primary" %>
