<% @page_title = "地点詳細" %>
  <h2><%= @page_title %></h2>
  <script type="text/javascript">
    function initMap() {

      var test = {
        lat: <%= @map.map_lat %>,
        lng: <%= @map.map_lng %>
      };
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 15,
        center: test
      });
      var transitLayer = new google.maps.TransitLayer();
      transitLayer.setMap(map);

      var contentString = '<%= @map.map_name %>';
      var infowindow = new google.maps.InfoWindow({content: contentString});

      var marker = new google.maps.Marker({position: test, map: map, title: contentString});

      marker.addListener('click', function () {
        infowindow.open(map, marker);
      });
    }
  </script>
  <script async="async" defer="defer" src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyBJfuH3GcpFYapsQGKpWvoiZJ2oqF8ud44&callback=initMap"></script>

  <p id="notice"><%= notice %></p>

  <p>
    <strong>地点名:</strong>
    <%= @map.map_name %>
  </p>

  <p>
    <strong>概要:</strong>
    <%= @map.map_text %>
  </p>

  <p>
    <strong>緯度:</strong>
    <%= @map.map_lat %>
  </p>

  <p>
    <strong>経度:</strong>
    <%= @map.map_lng %>
  </p>

  <style type="text/css">
    #map {
      height: 400px;
      margin-left: auto;
      margin-right: auto;
      text-align: left;
    }
  </style>
  <div id="map"></div>

  <%= link_to 'Edit', edit_map_path(@map) %>
  |
  <%= link_to 'Back', maps_path %>
<h2><%= @map.map_name %>のレビュー</h2>
  <% @reviews.each do |review| %>
    <li>
      <%= review.review_title %>
      <% if review.review_eva == 'good' %>
        <%= image_tag 'Good.png', :size =>'25x25', :alt => 'good' %>
      <% else %>
        <%= image_tag 'BAD.png', :size =>'25x25', :alt => 'bad' %>
      <% end %>

      <%= review.review_text %>(<%= review.updated_at %>)
      <%= link_to t('.edit', :default => t("helpers.links.edit")), edit_review_path(review), :class => 'btn btn-default btn-xs' %>
      <%= link_to t('.destroy', :default => t("helpers.links.destroy")), review_path(review), :method => 'delete', :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger' %>

      <% end %>
    </li>

  <h2>レビュー新規書き込み</h2>
  <%= form_for @newreview, :url => review_create_path do |f| %>
  <div class="field">
    <%= f.label 'タイトル' %>
    <%= f.text_field :review_title, id: :review_title, :size => '40' %>
  </div>

  <div class="field">
    <%= f.label '評価' %>
    <%= f.radio_button :review_eva, 'good', :checked => "checked" %>
    <%= image_tag 'Good.png', :size =>'50x50', :alt => 'good' %>
    <%= f.radio_button :review_eva, 'bad' %>
    <%= image_tag 'BAD.png', :size =>'50x50', :alt => 'bad' %>
  </div>

  <div class="field">
    <%= f.label '本文' %>
    <%= f.text_area :review_text, id: :review_text, :size => "40x5" %>
  </div>
  <%= f.hidden_field :maps_id , :value => params[:id]%>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
