<% @page_title = "地点詳細" %>
<h2><%= @page_title %></h2>
<p>
  <%= link_to"編集", [:edit, map] %><br />
  <%= link_to"削除", map, method: :delete, data: { confirm: "本当に削除しますか？" } %><br />
</p>
<p>
  <strong>地点名:</strong>
  <%= @map.map_name %>
</p>

<p>
  <strong>緯度:</strong>
  <%= @map.map_lat %>
</p>

<p>
  <strong>経度:</strong>
  <%= @map.map_lng %>
</p>

<p>
  <strong>追加日:</strong>
  <%= @map.map_date %>
</p>

<%= link_to 'Edit', edit_map_path(@map) %> |
<%= link_to 'Back', maps_path %>
