<% @page_title = "レビューの編集" %>
<h1><%= @page_title %></h1>

<p>
  <%= link_to "レビューの詳細に戻る", @review %>
</p>
<%= form_for @review do |form| %>
<%= render "form", form: form %>
<p>
  <%= form.submit %>
</p>
<% end %>
