<p id="notice"><%= notice %></p>

<h1>質問一覧</h1>
<ul>
  <% @questions.each do |question| %>
    <li><%= link_to question.title, question_show_path(question.id) %></li>
    <%= link_to '[削除]', question_delete_path(question.id), method: :delete, data: {confirm: "削除してもよろしいですか？"} %>
  <% end %>
</ul>

<h1>質問投稿</h1>
<%= link_to '[新規投稿]', question_new_path, method: :get %>
  <%= form_for @newQuestion, :url => {:action => 'new'}, method: :get do |f| %>
  <%= f.submit %>
<% end %>
