<h2>新規作成</h2>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@column) do |f| %>
      <%= f.label :title %>
      <%= f.text_field :title %>

      <%= f.label :text %>
      <%= f.text_area :text, :maxlength => "1000", :size => "100x100" %>

      <%= f.submit "コラムを投稿する", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
