<html lang ="ja">
<head>

  <title>mama Friends～Your Neighbor</title>
</head>
<body>
<div id="top">
  <div id="header">
    <div id="main">
      <h1>ママ友の輪をネットで</h1>
      <h2>ログイン</h2>
      <div class="contents" style="text-align:center;">
        <div class="back-code">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.label :email  %>
            <div style="  position: relative;
              min-height: 1px;
              padding-left: 25px;
              padding-right: 25px;">
              <%= f.email_field :email, autofocus: true %>
            </div>
          </div>

          <div class="field">
            <%= f.label :password %>
            <div style="  position: relative;
              min-height: 1px;
              padding-left: 25px;
              padding-right: 25px;">
              <%= f.password_field :password, autocomplete: "off" %>
          </div>
          </div>

          <% if devise_mapping.rememberable? -%>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end -%>

          <div class="actions">
            <%= f.submit "ログイン", id: "sub" %>
          </div>
          <%= render "devise/shared/links" %>
        <% end %>
      </div>
      <!-- back-code -->
    </div>
    <!-- /contents -->
  </div>
  <!-- /main -->
</div>
<!-- /header -->
</div>
<!-- /top -->

</body>
</html>
