<html lang ="ja">
<head>
<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <title>mama Friends～Your Neighbor</title>
</head>
<body style ="background-color:orange;">
<div id="top">
  <div id="header">
    <div id="main">
      <h1>このSNSは親のために作られたものです。</h1>
      <h2>ログイン</h2>
      <div class="contents" style="text-align:center;">
        <div class="back-code">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.label :email  %>
            <%= f.email_field :email, autofocus: true %>
          </div>

          <div class="field">
            <%= f.label :password %>
            <%= f.password_field :password, autocomplete: "off" %>
          </div>

          <% if devise_mapping.rememberable? -%>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end -%>

          <div class="actions">
            <%= f.submit "ログイン", id: "sub" %>
          </div>
          <%= render "devise/shared/links" %>
        <% end %>
      </div>
      <!-- back-code -->
    </div>
    <!-- /contents -->
  </div>
  <!-- /main -->
</div>
<!-- /header -->
</div>
<!-- /top -->
<footer style="text-align:center;">
  <div class="copyright">Copyright &copy; 2017 mama Friends～Your Neighbor All Rights Reserved.</div>
</footer>
</body>
</html>
