<html>
  <head>

    <title>mama Friends～Your Neighbor</title>
  </head>
  <body>
    <header>
      <% if user_signed_in? %>
        <h1><%= link_to 'mama Friends～Your Neighbor','app/views/asoberu/asotop.html.erb' %><!-- asoberutopに変更する --></h1>
      <% else %>
        <h1><%= link_to 'mama Friends～Your Neighbor', new_user_session_path %></h1>
      <% end %>
      <nav>
        <% if user_signed_in? %>
          <%= link_to 'プロフィール変更', edit_user_registration_path %>
          <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %><br>
          <%= p current_user.email %><br/>
        <% else %>
          <%= link_to 'サインアップ', new_user_registration_path %>
          <%= link_to 'ログイン', new_user_session_path %>
        <% end %>
      </nav>
    </header>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
