<div class="nav">
<%= menu_link_to "あそべ～る", root_path %>
&nbsp;|&nbsp; <%= menu_link_to "しらべ～る", :siratop %>
&nbsp;|&nbsp; <%= menu_link_to "まなべ～る", :manatop %>
&nbsp;|&nbsp; <%= menu_link_to "マイページ", "#" %>
&nbsp;|&nbsp; <%= menu_link_to "設定", "#" %>
</div>
